{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Personal Trainer 1</h3>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name: John Doe</li>
              <li class="list-group-item">Specialization: Strength Training</li>
              <li class="list-group-item">Experience: 8 years</li>
              <li class="list-group-item">Certifications: CSCC</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Personal Trainer 2</h3>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name: Jane Doe</li>
              <li class="list-group-item">Specialization: Kettlebell, Cardio</li>
              <li class="list-group-item">Experience: 8 years</li>
              <li class="list-group-item">Certifications: National Qualification in Kettlebell Training</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Personal Trainer 3</h3>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name: Mike Johnson</li>
              <li class="list-group-item">Specialization: Bodybuilding</li>
              <li class="list-group-item">Experience: 10 years</li>
              <li class="list-group-item">Certifications: CPD Award in Coaching Olympic Lifting</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3>Personal Trainer 4</h3>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name: Emily Davis</li>
              <li class="list-group-item">Specialization: Pilates, Rehab</li>
              <li class="list-group-item">Experience: 12 years</li>
              <li class="list-group-item">Certifications: Advanced Diploma in Pilates Matwork</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}




  