<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=memberships" id="memberships-link" aria-haspopup="true" aria-expanded="false">
                Memberships
            </a>   
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=mealplans" id="mealplans-link" aria-haspopup="true" aria-expanded="false">
                Meal Plans
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=workouprogram" id="programs-link" aria-haspopup="true" aria-expanded="false">
                Programs
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=ptsessions" id="personaltrainers-link" aria-haspopup="true" aria-expanded="false">
                Personal Trainers
            </a>
        </li>
    </ul>
</div>